<!-- <div class="header">
    </div> -->
<div class="bgimg">
        <!-- <nav class="navbar navbar-light bg-light"> -->
           <div style="float: left">
            <a class="navbar-brand" href="#">
                <img src="../../assets/oyo.png" class="logo" alt="OYO Logo">
            </a>  
        </div>
        <!-- </nav> -->
        
        <button (click)="onRefresh()">Refresh</button>

        <!--RIGHT-->
        <div style="margin-top: 50px"></div>
        <div class="list-group" style="float: right;margin-right: 20px; border-radius: 50px">
            <div *ngFor="let i of data1; let j = index">
                <div *ngIf="j == 1">
                    <div style="background: green; height: 30px;color: white">{{i.source}}</div>
                </div>
            </div>
            <div *ngFor="let i of data1">
                <button type="button" style="right: 0; width: 500px; height: 50px;" 
                class="list-group-item list-group-item-action" 
                (click)="onClick(i)">{{i.text}}</button>
            </div>
        </div>

        <!--LEFT-->
        <div style="margin-top: 250px"></div>
        <div id="d1" class="list-group" style="float: left;margin-left: 20px; display: none">
            <div>
                <div style="background: brown; height: 30px;color: white">pm</div>
            </div>
            <div>
                <div [(ngModel)]="reply1" ngDefaultControl style="right: 0; width: 500px; height: 50px;" 
                class="list-group-item list-group-item-action">{{reply1}}</div>
            </div>
        </div>

        
        <!--RIGHT-->
        <div style="margin-top: 350px"></div>
        <div class="list-group" style="float: right;margin-right: 20px">
            <div *ngFor="let i of data2; let j = index">
                <div *ngIf="j == 1">
                    <div style="background: green; height: 30px;color: white">{{i.source}}</div>
                </div>
            </div>
            <div *ngFor="let i of data2">
                <button type="button" style="right: 0; width: 500px; height: 50px;" 
                class="list-group-item list-group-item-action"
                (click)="onClick(i)">{{i.text}}</button>
            </div>
        </div>

        <!--LEFT-->
        <div style="margin-top: 450px"></div>
        <div id="d2" class="list-group" style="float: left;margin-left: 20px; display: none">
            <div>
                <div style="background: brown; height: 30px;color: white">pm</div>
            </div>
            <div>
                <div [(ngModel)]="reply2" ngDefaultControl style="right: 0; width: 500px; height: 50px;" 
                class="list-group-item list-group-item-action">{{reply2}}</div>
            </div>
        </div>

        <!--RIGHT-->
        <div style="margin-top: 550px"></div>
        <div class="list-group" style="float: right;margin-right: 20px">
            <div *ngFor="let i of data3; let j = index">
                <div *ngIf="j == 1">
                    <div style="background: green; height: 30px;color: white">{{i.source}}</div>
                </div>
            </div>
            <div *ngFor="let i of data3">
                <button type="button" style="right: 0; width: 500px; height: 50px;" 
                class="list-group-item list-group-item-action"
                (click)="onClick(i)">{{i.text}}</button>
            </div>
        </div>

        <!--LEFT-->
        <div style="margin-top: 650px"></div>
        <div id="d3" class="list-group" style="float: left;margin-left: 20px; display: none">
            <div>
                <div style="background: brown; height: 30px;color: white">pm</div>
            </div>
            <div>
                <div [(ngModel)]="reply3" ngDefaultControl style="right: 0; width: 500px; height: 50px;" 
                class="list-group-item list-group-item-action">{{reply3}}</div>
            </div>
        </div>

        <!--RIGHT-->  
        <div style="margin-top: 850px"></div>
        <div class="list-group" style="float: right;margin-right: 20px">
            <div *ngFor="let i of data4; let j = index">
                <div *ngIf="j == 1">
                    <div style="background: green; height: 30px;color: white">{{i.source}}</div>
                </div>
            </div>
            <div *ngFor="let i of data4">
                <button type="button" style="right: 0; width: 500px; height: 50px;" 
                class="list-group-item list-group-item-action"
                (click)="onClick(i)">{{i.text}}</button>
            </div>
        </div>


        <!--LEFT-->
        <div style="margin-top: 950px"></div>
        <div id="d4" class="list-group" style="float: left;margin-left: 20px; display: none">
            <div>
                <div style="background: brown; height: 30px;color: white">pm</div>
            </div>
            <div>
                <div [(ngModel)]="reply4" ngDefaultControl style="right: 0; width: 500px; height: 50px;" 
                class="list-group-item list-group-item-action">{{reply4}}</div>
            </div>
        </div>

        <!--RIGHT-->  
        <div style="margin-top: 1050px"></div>
        <div class="list-group" style="float: right;margin-right: 20px">
            <div *ngFor="let i of data5; let j = index">
                <div *ngIf="j == 1">
                    <div style="background: green; height: 30px;color: white">{{i.source}}</div>
                </div>
            </div>
            <div *ngFor="let i of data5">
                <button type="button" style="right: 0; width: 500px; height: 50px;" 
                class="list-group-item list-group-item-action"
                (click)="onClick(i)">{{i.text}}</button>
            </div>
        </div>


        <!--LEFT-->
        <div style="margin-top: 1150px"></div>
        <div id="d5" class="list-group" style="float: left;margin-left: 20px; display: none">
            <div>
                <div style="background: brown; height: 30px;color: white">pm</div>
            </div>
            <div>
                <div [(ngModel)]="reply5" ngDefaultControl style="right: 0; width: 500px; height: 50px;" 
                class="list-group-item list-group-item-action">{{reply5}}</div>
            </div>
        </div>

        <!--RIGHT-->  
        <div style="margin-top: 1250px"></div>
        <div class="list-group" style="float: right;margin-right: 20px">
            <div *ngFor="let i of data6; let j = index">
                <div *ngIf="j == 1">
                    <div style="background: green; height: 30px;color: white">{{i.source}}</div>
                </div>
            </div>
            <div *ngFor="let i of data6">
                <button type="button" style="right: 0; width: 500px; height: 50px;" 
                class="list-group-item list-group-item-action"
                (click)="onClick(i)">{{i.text}}</button>
            </div>
        </div>


         <!--LEFT-->
         <div style="margin-top: 1350px"></div>
         <div id="d6" class="list-group" style="float: left;margin-left: 20px; display: none">
             <div>
                 <div style="background: brown; height: 30px;color: white">pm</div>
             </div>
             <div>
                 <div [(ngModel)]="reply6" ngDefaultControl style="right: 0; width: 500px; height: 50px;" 
                 class="list-group-item list-group-item-action">{{reply6}}</div>
             </div>
         </div>
 
         <!--RIGHT-->  
         <div style="margin-top: 1450px"></div>
         <div class="list-group" style="float: right;margin-right: 20px">
             <div *ngFor="let i of data7; let j = index">
                 <div *ngIf="j == 1">
                     <div style="background: green; height: 30px;color: white">{{i.source}}</div>
                 </div>
             </div>
             <div *ngFor="let i of data7">
                 <button type="button" style="right: 0; width: 500px; height: 50px;" 
                 class="list-group-item list-group-item-action"
                 (click)="onClick(i)">{{i.text}}</button>
             </div>
         </div>

        </div>